$primaryColor: whitesmoke;
$accent: black;

* {
  margin: 0;
  padding: 0;
}

#quote-box {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  text-align: center;

  button {
    width: 15%;
  }
}
