@import url("https://fonts.googleapis.com/css?family=Sniglet");

$primaryColor: orangered;
$accent: white;

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  font-family: "Sniglet", cursive;
  height: 100vh;
}

#quote-box {
  position: relative;
  width: 450px;
  background-color: $accent;
  font-size: 22px;
  padding: 40px 50px;
  border-radius: 5px;
  text-align: center;

  #author {
    font-size: 16px;
    text-align: right;
  }

  button {
    &hover {
      opacity: 0.8;
    }
    &#tweet-quote {
      float: left;
    }
    &#new-quote {
      float: right;
    }
  }
}

.footer {
  font-size: 0.9em;
  display: block;
  text-align: center;
  margin-top: 10px;

  a {
    color: white;
  }
}
